{% extends 'base.html.twig' %}

{% block title %}Gestion d'un envoi
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('transit_index') }}">Page d'accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Gestion d'un envoi</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<main class="fr-mt-4w">

		<p id="badge_statut_libelle" class="fr-badge fr-badge--info fr-mb-2w">{{ envoi.statut.libelle }}</p>

		<h2>Gestion de l'envoi "{{ envoi.titre }}"</h2>

		<p>
			Objet:
			{{ envoi.objet.libelle }}
			<br>
			Destinataire:
			{{ envoi.destinataire.libelle }}
			<br>
			En date du
			{{ envoi.date|date('d/m/Y')}}.
		</p>

		{{ form_start(form)}}

		<div class="fr-grid-row fr-grid-row--gutters">

			<h3 class="underline fr-col-5">
				{{ form_label(form.reference) }}
				{{ form_widget(form.reference) }}
			</h3>

			<div class="fr-col-5">
				{{ form_label(form.type) }}
				{{ form_widget(form.type) }}
			</div>
			<div class="fr-col-2">
				{{ form_label(form.quantite) }}
				{{ form_widget(form.quantite) }}
			</div>

		</div>

		{{ form_end(form)}}

		<h4>Liste de tâches</h4>

		<p>

			Pour modifier la liste de taches ci-dessous,
			<a href="{{ path('transit_index_initobjet',{envoi: envoi.id}) }}">cliquez ici</a>.

			<ul data-envoi="{{ envoi.id }}" id="task-list" class="task-list">
				{% for action in envoi.actions %}
					<li data-action="{{ action.id}}" {% if action.resultat %} class="checked" {% endif %}>{{ action.etape.libelle }}</li>
				{% endfor %}
			</ul>

		</p>
	</p>
</main>{% endblock %}
