{% extends 'base.html.twig' %}

{% block title %}Gestion d'un envoi
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('transit_index') }}">Page d'accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Gestion d'un envoi</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<main class="fr-mt-4w">

		<p id="badge_statut_libelle" class="fr-badge fr-badge--info fr-mb-2w">{{ envoi.statut.libelle }}</p>

		<h2>Gestion de l'envoi "{{ envoi.titre }}"</h2>

		<dl class="fr-mb-4w fr-pt-1w fr-pb-1w bg-grey">
			<dt>Objet :</dt>
			<dd class="bold fr-pl-0">{{ envoi.objet.libelle }}</dd>

			<dt>Destinataire :</dt>
			<dd class="bold fr-pl-0">{{ envoi.destinataire.libelle }}</dd>

			<dt>Date de création :</dt>
			<dd class="bold fr-pl-0">{{ envoi.date|date('d/m/Y')}}</dd>
		</dl>

		{{ form_start(form)}}

		<div class="fr-grid-row fr-grid-row--gutters">

			<h3 class="underline fr-col-5">
				{{ form_label(form.reference) }}
				{{ form_widget(form.reference) }}
			</h3>

			<div class="fr-col-5">
				{{ form_label(form.type) }}
				{{ form_widget(form.type) }}
			</div>
			<div class="fr-col-2">
				{{ form_label(form.quantite) }}
				{{ form_widget(form.quantite) }}
			</div>

			{# Autres références #}

			<div class="fr-col-6">
				<p class="fr-mb-0 fr-pl-3w relative">
					<button id="modal-creer-numero--trigger" aria-controls="modal-creer-numero" data-fr-opened="false" type="button" title="Ajouter une référence" class="fr-btn fr-icon-add-line fr-btn--secondary fr-btn--sm cs-btn--xs">Ajouter une référence</button>
					Autres références:
				</p>
				<ul class="fr-mb-3w">
					{% for numero in envoi.numeros %}
						<li class="fr-pl-3w relative bold list-style-type_none">
							<button type="button" title="Supprimer cette référence" data-id="{{numero.id}}" class="bouton-supprimer-numero fr-btn fr-icon-subtract-line fr-btn--secondary fr-btn--sm cs-btn--xs fr-mr-2w" style="top: 12px;">Supprimer cette référence</button>
							<span class="libelle">{{numero.libelle}}</span>
							n°
							<button type="button" data-id="{{numero.id}}" data-libelle="{{numero.libelle}}" data-valeur="{{numero.valeur}}" class="modal-creer-numero--trigger fr-btn fr-btn--tertiary-no-outline fr-pl-0 fr-pr-0">
								<span class="fr-link valeur">{{numero.valeur}}</span>
							</button>
						</li>
					{% else %}
						<li>Néant</li>
					{% endfor %}
				</ul>
			</div>

			{# FIN "Autres références" #}

			{# Documents attachés #}

			<div class="fr-col-6">
				<p class="fr-mb-0 fr-pl-3w relative">
					<button id="modal-creer-fichier--trigger" aria-controls="modal-creer-fichier" data-fr-opened="false" type="button" title="Ajouter un document" class="fr-btn fr-icon-add-line fr-btn--secondary fr-btn--sm cs-btn--xs">Ajouter un document</button>
					Documents attachés:
				</p>
				<ul class="fr-mb-3w">
					{% for fichier in envoi.fichiers %}
						<li class="fr-pl-3w relative bold list-style-type_none">
							<button type="button" title="Supprimer cette référence" data-id="{{fichier.token}}" class="bouton-supprimer-fichier fr-btn fr-icon-subtract-line fr-btn--secondary fr-btn--sm cs-btn--xs fr-mr-2w" style="top: 12px;">Supprimer ce document</button>
							<a download="true" href="{{ path('transit_index_download',{fichier_token: fichier.token}) }}" class="modal-creer-fichier--trigger fr-btn fr-btn--tertiary-no-outline fr-icon-download-line fr-btn--icon-right fr-pl-0 fr-pr-0">
								<span class="fr-link chemin">{{fichier.nom}}</span>
							</a>
						</li>
					{% else %}
						<li>Néant</li>
					{% endfor %}
				</ul>
			</div>

			{# FIN "Documents attachés" #}

			{{ form_end(form)}}

		</div>

		<h4>Liste de tâches</h4>

		<p>

			Pour modifier la liste de taches ci-dessous,
			<a href="{{ path('transit_index_initobjet',{envoi: envoi.id}) }}">cliquez ici</a>.

			<ul data-envoi="{{ envoi.id }}" id="task-list" class="task-list">
				{% for action in envoi.actions %}
					<li data-action="{{ action.id}}" {% if action.resultat %} class="checked" {% endif %}>{{ action.etape.libelle }}</li>
				{% endfor %}
			</ul>

		</p>

		{% include "components/modale_creer-numero.html.twig" %}
		{% include "components/modale_uploader-fichier.html.twig" %}

	</main>

{% endblock %}
