{% extends 'base.html.twig' %}

{% block title %}Numero index{% endblock %}

{% block body %}
    <h1>Numero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Valeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for numero in numeros %}
            <tr>
                <td>{{ numero.id }}</td>
                <td>{{ numero.libelle }}</td>
                <td>{{ numero.valeur }}</td>
                <td>
                    <a href="{{ path('app_numero_show', {'id': numero.id}) }}">show</a>
                    <a href="{{ path('app_numero_edit', {'id': numero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_numero_new') }}">Create new</a>
{% endblock %}
