{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('transit_index') }}">Page d'accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page" href="{{ path('transit_index_archives') }}">Archives</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<main class="fr-mt-4w">

		<h2>Archives</h2>

		<h3 class="underline">Envoi:</h3>

		{% if envois | length %}

			<ul>
				{% for envoi in envois %}
					<li class="fr-mb-2w relative fr-grid-row">
						<div class="fr-col-12">
							<h4 class="fr-h6 fr-mr-2w inline">{{ envoi.titre}}</h4>
							<a target="_self" href="{{ path('transit_envoi',{envoi: envoi.id})}}" class="fr-btn fr-btn--tertiary absolute trst-bottom-0">{{ envoi.reference is not null ? envoi.reference: 'Aucune référence saisie' }}</a>
						</div>

					</li>
				{% endfor %}
			</ul>

		{% else %}

			<p>Vous n'avez encore aucun dossier en cours...</p>

		{% endif %}

		<h3 class="underline">Réception:</h3>

		{% if receptions | length %}

			<ul>
				{% for reception in receptions %}
					<li class="fr-mb-2w relative fr-grid-row">
						<div class="fr-col-12">
							<h4 class="fr-h6 fr-mr-2w inline">{{ reception.titre}}</h4>
							<a target="_self" href="{{ path('transit_envoi',{envoi: reception.id})}}" class="fr-btn fr-btn--tertiary absolute trst-bottom-0">{{ reception.reference is not null ? reception.reference: 'Aucune référence saisie' }}</a>
						</div>

					</li>
				{% endfor %}
			</ul>

		{% else %}

			<p>Vous n'avez encore aucun dossier en cours...</p>

		{% endif %}

		<h3 class="underline fr-mb-5w">Matériel en instance:</h3>

		{% if MIs | length %}

			<ul>
				{% for mi in MIs %}
					{% set pointsParticuliers = mi.pointsParticuliers | filter(point=> point.statut.libelle === 'Article en instance')%}
					{% if pointsParticuliers | length %}
						<li class="fr-mb-2w relative fr-grid-row">
							<section class="instance-ctnr w100 fr-p-4v fr-mb-4w">
								<h4 class="fr-h6 relative inline-block w100">
									<span class="fr-pl-1w fr-pr-1w">
										{% set n = pointsParticuliers | length %}
										Matériel{{ n > 1 ? 's' : '' }}
										{% if mi.titre starts with '__MI__' %}
											en instance
										{% else %}
											inclus dans la réception "{{ mi.titre }}"
										{% endif %}
									</span>
									<a target="_self" href="{{ path('transit_envoi',{envoi: mi.id})}}" class="inline fr-btn fr-btn--tertiary absolute trst-bottom-4 fr-ml-2w">{{ mi.reference is not null ? mi.reference: 'Aucune référence saisie' }}</a>

								</h4>
								<ul class="fr-pt-2w">

									{% for point in pointsParticuliers %}

										<li class="fr-mb-2w relative fr-grid-row">
											<div class="fr-col-12">
												<h5 class="fr-h6 fr-mr-2w inline">
													&#9679;&nbsp;Qté:
													{{point.quantite}}
													-
													{{point.article.MCA}}
													-
													{{point.article.libelle}}
												</h5>
											</div>
											{# <div class="gauge-container fr-col-3" title="Avancement: {{ mi.percentage }}%">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<div class="gauge" style="width: {{ 100 - mi.percentage }}%;"></div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		{{ mi.statut.libelle }}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	</div> #}
										</li>

									{% endfor %}

								</ul>
							</section>
						{% endif %}
					{% endfor %}
				</ul>

			{% else %}

				<p>Vous n'avez encore aucun dossier en cours...</p>

			{% endif %}


		</main>

	{% endblock %}
