{% extends 'base.html.twig' %}

{% block title %}Gestion des articles
{% endblock %}

{% block body %}
	<h1>Gestion des articles</h1>

	<div class="fr-table">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">

					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Libellé</th>
								<th>MCA</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for article in articles %}
								<tr>
									<td>{{ article.id }}</td>
									<td>{{ article.libelle }}</td>
									<td>{{ article.MCA }}</td>
									<td>
										<ul class="fr-links-group fr-links-group--inline">
											<li>
												<a class="fr-link" href="{{ path('transit_article_edit', {'envoi': envoi, 'id': article.id}) }}">Éditer</a>
											</li>
											<li>
												{{ include('article/_delete_form.html.twig') }}
											</li>
										</ul>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Aucun article trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

	<a class="fr-btn" href="{{ path('transit_article_new',{ envoi: envoi}) }}">Créer un article</a>

	<p class="fr-mt-4w">
		<a target="_self" class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{{ path('transit_envoi',{ envoi: envoi}) }}">Retour</a>
	</p>

{% endblock %}
